:root {
  --background-color: #22262a;
  --primary-color: #F79531!important;
  --secondary-color: #00395F;
  --bs-carousel-indicator-active-bg: #F79531!important;
  --bs-gray: #ffffff;
}

body{
  background-color: #fafafa;
}

ul li a:hover {
  color: #F79531 !important;
}

nav {
  background-color: #22262ad8 !important;
}

nav button {
  background-color: #F79531 !important;
  border-color: #F79531 !important;
}

nav button:hover {
  background-color: #ffffff !important;
  border-color: #F79531 !important;
  color: black !important;
}

nav .dropdown-menu a {
  color: white !important;
  padding: 20px !important;
}

nav .dropdown-menu a:hover {
  background-color: #F79531 !important;
  color: #22262a !important;
}

.active {
  color: #F79531 !important;
}

.active-dropdown {
  background-color: #F79531 !important;
  color: #22262a !important;
}

.banner {
  position: relative;
  background-image: url('../../SRC/CARRETEL_COMPACTO_MV110_9.jpg');
  background-size: cover;
  background-position: center;
  height: 400px; 
  overflow: hidden;
}

.banner::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.616); 
  z-index: 1;
}

.banner-content {
  position: relative;
  z-index: 2;
  color: white !important;
}

/* formatação fonte banner */
.banner h3{
  color: #b8b8b8d8;
}


#search:focus {
  outline: none;
  box-shadow: none; /* Garante que o Bootstrap também não adicione sombras indesejadas */
}

.barra-lateral{
  /* background-color: var(--bs-gray-500); */

  height: 100%;
  padding: 20px;
  border-radius: 20px;
  
}

.barra-lateral p{
  color: var(--primary-color);
  text-decoration: none;
  display: block;
  margin-bottom: 10px;
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
  border-radius: 10px;
  padding: 10px;
}

.barra-lateral p:hover{
  background-color: #F79531;
  color: white;
  transform: scale(1.05);
}
/* 

                   _ 
                  | |
  ___ __ _ _ __ __| |
 / __/ _` | '__/ _` |
| (_| (_| | | | (_| |
 \___\__,_|_|  \__,_|
                     
                     

*/


.card{
  background-color: var(--bs-gray-200)!important;
}

.card-body img{
  max-width: 100%;
  height: auto;
}

.titleInfo{
  background-color: var(--primary-color);
  color: white;
  border-radius: 20px;
  transition: transform 0.3s ease-in-out;
  width: 100%;
  display: flex;
  flex-direction: column;
}

 .card:hover .titleInfo {
            transform: rotate(-2deg);
        }

.card p{

  line-height: 90%;
}


 .card:hover .card-body:hover{
    border-radius: 25px;
   
 }        


 /* 

                   _ 
                  | |
  ___ __ _ _ __ __| |
 / __/ _` | '__/ _` |
| (_| (_| | | | (_| |
 \___\__,_|_|  \__,_|
                     
                     

*/


FOOTER


footer a{
  font-size: 12px;
  padding: 5px;
}

footer a:hover{
  color: #F79531 !important;
}

.lh-base{
  font-size: 15px!important;
}

footer .border-bottom{
  border-color: #F79531 !important;
  padding-bottom: 10px;
}



/* FOOTER